@use './variables' as v;

.footer {
  background-color: v.$color_dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 7rem 7rem 5rem 7rem;

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$color_white;
    border-radius: 50%;
    top: -2.5rem;
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 2rem;
    animation: bounce 1.8s infinite ease-in-out;

    img {
      width: 50%;
    }
  }

  &__nav {

    ul,
    a {
      color: v.$color_white;
      list-style: none;
      text-decoration: none;
      font-size: 2rem;
      text-align: center;
      line-height: 2;

    }
  }

  &__links {
    padding-bottom: 3rem;

  }

  &__copy {
    color: v.$color_white;
    margin-top: 5rem;
    font-size: 1.5rem;
    text-align: center;

    .we-love-run {
      display: inline-flex;
      align-items: center;

      .copy {
        padding-bottom: 1rem;
      }


    }

    .green-heart {
      padding: 0.5rem;
      color: v.$color_primary;
      display: inline-flex;
      align-items: center;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 7rem 7rem 3rem 7rem;

    &__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-evenly;
      width: 100%;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      text-align: left;

      ul {
        text-align: left;
      }
    }

    &__links {
      margin-left: 10rem;
    }

    &__socials {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10rem;
      text-align: left;
      padding-bottom: 11rem;
    }

    &__copy {
      text-align: left;
    }
  }
}
  @media (min-width: 1024px) {
    .footer {
      padding: 5rem 5rem 0 3rem;
      &__nav {
        a {
          font-size: 1.3rem;
        }
      }
      &__links {
        margin-right: 10rem;
      }

      &__copy {
        font-size: 1.2rem;
      }

      &__arrow {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
  }