@use './variables' as v;

.shop {
  background-color: v.$color_white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1.5rem 3rem;
  margin-top: 6rem;

  &__subtitle {
    color: v.$color_primary;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  &__title {
    font-family: v.$font_alt;
    font-weight: bold;
    font-size: 2.3rem;
  }

  &__text {
    color: v.$color_dark;
    font-size: 1.8rem;
    padding: 1rem 2rem 4rem 0;
    line-height: 1.8;
  }

  &__button {
    text-decoration: none;
    color: v.$color_primary;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem 5rem;
    border: 0.3rem solid v.$color_primary;
    border-radius: v.$border_radius_pill;
    transition: background-color v.$transition_fast;

    &:hover {
      background-color: v.$color_primary;
      color: v.$color_white;
    }
  }
}

@media (min-width: 768px) {
  .shop {
    padding-left: 3.5rem;

    &__title {
      font-size: 2.7rem;
    }

    &__subtitle {
      padding-bottom: 1.5rem;
    }

    &__button {
      margin-bottom: 4.5rem;
    }
  }

}

@media (min-width: 1024px) {
  .shop {
    padding-left: 15rem;
    padding-right: 20rem;
    margin-top: 2rem;

    &__title {
      font-size: 3.5rem;
    }

    &__subtitle {
      font-size: 1.8rem;
      padding-bottom: 2rem;
    }

    &__text {
      font-size: 2rem;
    }
  }
}