/*Colores*/
$color_primary: #6c933e;
$color_dark: #4a4a4a;
$color_light: #d9e4cc;
$color_white: #ffffff;

/*Tipografías*/
$font_main: 'Roboto', sans-serif;
$font_alt: 'Roboto Slab', serif;

/*Otros*/
$border_radius_pill: 9999px;
$transition_fast: 0.3s ease-in-out;
