/*Colores*/
$color-primary: #6c933e;
$color-dark: #4a4a4a;
$color-light: #d9e4cc;
$color-white: #ffffff;

/*Tipografías*/
$font-main: 'Roboto', sans-serif;
$font-alt: 'Roboto Slab', serif;

/*Otros*/
$border-radius-pill: 9999px;
$transition-fast: 0.3s ease-in-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $font-main
}

html {
  font-size: 62.5%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-primary;
  color: $color-white;
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__nav {
    img {
      height: 62%;
    }
  }
}

.hero {
  height: 100dvh;
  width: 100%;
  background-image: url("../images/cover.jpeg");
  transform: scale(1.15);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 4rem;

  &__overlay {
    color: $color-white;
    max-width: 90%;
    padding-inline: 3rem;

  }

  &__title {
    font-family: $font-alt;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;

  }

  &__text {
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;

  }

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 2rem;

    img {
      width: 45%;
      height: auto;
    }

  }

}

.shop {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1.5rem 3rem;
  margin-top: 6rem;

  &__subtitle {
    color: $color-primary;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  &__title {
    font-family: $font-alt;
    font-weight: bold;
    font-size: 2.3rem;
  }

  &__text {
    color: $color-dark;
    font-size: 1.8rem;
    padding: 1rem 2rem 4rem 0;
    line-height: 1.8;
  }

  &__button {
    text-decoration: none;
    color: $color-primary;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem 5rem;
    border: 0.3rem solid $color-primary;
    border-radius: $border-radius-pill;
    transition: background-color $transition-fast;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }
}

.back-to-school {
  font-family: $font-alt;
  font-weight: bold;
  background-color: $color-light;
  padding: 3rem 2rem 4rem;
  text-align: center;

  &__subtitle {
    color: #626262;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr;
    justify-items: center;
    gap: 2rem;
  }

  &__backpack-img,
  &__case-img,
  &__bag-img {
    height: 15rem;
    width: 15rem;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    border-radius: 50%;

    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.25);
  }

  &__backpack-img {
    background-image: url("../images/lpbts-mod05-img01-desk.png");
    grid-row: 1;
  }

  &__backpack-text {
    font-size: 1.5rem;
    width: 15rem;
    grid-row: 2;

  }

  &__case-img {
    background-image: url("../images/lpbts-mod05-img04-mob.png");
    grid-row: 3;

  }

  &__case-text {
    font-size: 1.5rem;
    width: 15rem;
    grid-row: 4;
  }

  &__bag-img {
    background-image: url("../images/lpbts-mod05-img03-mob.png");
    grid-row: 5;
  }

  &__bag-text {
    font-size: 1.5rem;
    width: 15rem;
    grid-row: 6;

  }

  &__button {
    text-decoration: none;
    color: $color-white;
    font-family: $font-main;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem 5rem;
    background-color: $color-primary;
    border: 0.3rem solid $color-primary;
    border-radius: $border-radius-pill;
    transition: background-color $transition-fast;

    &:hover {
      background-color: $color-white;
      color: $color-primary;
    }
  }

}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.footer {
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 7rem 7rem 5rem 7rem;

  &__arrow {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    border-radius: 50%;
    top: -2.5rem;
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 2rem;
    animation: bounce 1.8s infinite ease-in-out;

    img {
      width: 50%;
    }
  }

  &__nav {

    ul,
    a {
      color: $color-white;
      list-style: none;
      text-decoration: none;
      font-size: 2rem;
      text-align: center;
      line-height: 2;

    }
  }

  &__links {
    padding-bottom: 3rem;

  }

  &__copy {
    color: $color-white;
    margin-top: 5rem;
    font-size: 1.5rem;
    text-align: center;

    .we-love-run {
      display: inline-flex;
      align-items: center;

      .copy {
        padding-bottom: 1rem;
      }


    }

    .green-heart {
      padding: 0.5rem;
      color: $color-primary;
      display: inline-flex;
      align-items: center;
    }
  }
}